hostname {{ variables.host_name }}
!
ip domain name {{ variables.domain_name }}
!
ntp server {{ variables.ntp_01 }} prefer
ntp server {{ variables.ntp_02 }}
!
interface GigabitEthernet0/0
 ip address {{ variables.management_ip }}
 negotiation auto
!